.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.map{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MapContainer{
    background-image: url(../../assets/google-maps-world-smartsync-at-for-google-world-map.jpg);
    background-size: cover;
    min-width: 860px;
    min-height: 570px;
    border-radius: 16px;
}

.direita{
    display: flex;
    flex-direction: column;
}

.direitah1{
    color: rgb(165, 165, 165);
    font-size: 12px;
}

.resumoRota{
    height: 30%;
    width: 420px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.info{
    width: 100%;
    min-height: 80%;
    border-radius: 16px;
    background-color: #e1f0ff;
}
.enderecos{
    //border: 2px solid black;
    height: 70%;
}