* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.map{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MapContainer{
    background-image: url(../../assets/google-maps-world-smartsync-at-for-google-world-map.jpg);
    background-size: cover;
    min-width: 860px;
    min-height: 570px;
    border-radius: 16px;
}

.direita{
    display: flex;
    flex-direction: column;
}

.direitah1{
    color: rgb(165, 165, 165);
    font-size: 12px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.resumoRota{
    height: 30%;
    width: 420px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    margin: 0px 15px 0px 0px;
}

.info{
    width: 100%;
    min-height: 80%;
    border-radius: 16px;
    background-color: #e1f0ff;
    transition: all ease-in-out .2s;
}

.info:hover{
    background-color: #c4d6e7;
    transition: all ease-in-out .2s;
    cursor: pointer;
}

.enderecos{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
}

.enderecos h1{
    margin-right: 7em;
}

.list_box{
    width: 90%;
    height: 100%;
    overflow: auto;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e1f0ff;
    margin-bottom: 15px;
    border-radius: 16px;
    width: 95%;
    height: 35%;
    transition: all ease-in-out .2s;
}

.list:hover{
    background-color: #c4d6e7;
    transition: all ease-in-out .2s;
    cursor: pointer;
}