/* Estilização total */
html {
  scroll-behavior: smooth;
}

.container_conteudo_total {
  display: flex;
  flex-direction: column;
}

/* Estilização primeira tela */
.container_conteudo_primeira_tela {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  margin-bottom: 4rem;

  background-image: url(../../assets/background-tela-1.png);
  background-size: cover;

  & h1 {
    margin: 0;
    font-size: 4em;
  }

  & p {
    width: 40%;
    margin: 0;
    font-size: 1.2em;
    color: rgb(0, 0, 0, 0.6);
    text-align: center;
  }
}

.botao_rotas {
  font-size: 1em;
  width: 25%;
  height: 45px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.4s ease;
}

.botao_rotas {
  color: white;
  background-color: #007aff;
}

.botao_rotas:hover {
  transform: scale(1.05);
  transition: transform 0.6s ease;
}

/* Estilização segunda tela */
.container_segunda_tela {
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.container_info_sefunda_tela {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 40%;

  & h2 {
    margin: 0;
    font-size: 2em;
  }

  & p {
    width: 80%;
    margin: 0;
    font-size: 1.2em;
    color: rgb(0, 0, 0, 0.6);
  }

  & .botao_sobre_projeto {
    font-size: 1.2em;
    width: 50%;
    height: 45px;
    border: none;
    border-radius: 20px;
    transition: transform 0.4s ease;
    color: #007aff;
    background-color: rgba(0, 122, 255, 0.2);
  }
}

.imagem_segunda_tela {
  width: 50%;
  border-radius: 15px;
}

/* Estilização terceira tela */
.container_terceira_tela {
  height: 100vh;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}

.container_info_terceira_tela {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  & h2 {
    margin: 0;
    font-size: 2em;
  }

  & p {
    width: 60%;
    margin: 0;
    font-size: 1.2em;
    color: rgb(0, 0, 0, 0.6);
    text-align: center;
  }

  & .botao_como_funciona {
    font-size: 1.2em;
    width: 40%;

    height: 45px;
    border: none;
    border-radius: 20px;
    transition: transform 0.4s ease;
    color: #10b981;
    background-color: rgba(16, 185, 129, 0.1);
  }
}

.container_cards_terceira_tela {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.container_card_terceira_tela {
  width: 25%;
  padding: 20px;
  height: 90%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease;
}

.container_card_terceira_tela:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease;
}

/* Tamanho dos icones */
#icone_rotas,
#icone_pessoas,
#icone_coracao {
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
}

/* Configuração de cores individual de cada icone */
#icone_rotas {
  background-color: #ebf2fe;
  color: #3d83f6;
}

#icone_pessoas {
  background-color: #e7f8f2;
  color: #10b981;
}

#icone_coracao {
  color: #f97316;
  background-color: rgba(249, 115, 22, 0.1);
}

/* Estilização quarta tela */
.container_contato_tela {
  height: 100vh;
  background-color: #f9fafb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 3rem;
}

.info_contato {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & h2 {
    margin: 0;
    font-size: 2em;
  }

  & p {
    font-size: 1.2em;
    color: rgb(0, 0, 0, 0.6);
  }
}

.botao_entre_em_contato {
  font-size: 1.2em;
  width: 60%;
  height: 45px;
  border: none;
  border-radius: 20px;
  transition: transform 0.4s ease;
  color: #f97316;
  background-color: rgba(249, 115, 22, 0.1);
}

.detalhes_contato p {
  font-size: 1em;
  color: #374151;
  line-height: 1.6;
}

.formulario_contato {
  width: 40%;
  max-width: 500px; /* Limite máximo para não ficar muito largo */
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-sizing: border-box; /* Isso é ESSENCIAL para o padding não somar à largura */
  padding: 1rem; /* Adiciona um espaçamento interno */

  & input,
  & textarea {
    width: 100%; /* Ocupa 100% da largura do formulário */
    box-sizing: border-box; /* Mantém o padding dentro da largura total */
    padding: 1rem;
    font-size: 1em;
    border: 1px solid #d1d5db;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
    transition: border 0.3s;
  }

  & input:focus,
  & textarea:focus {
    border: 1px solid #007aff;
    outline: none;
  }

  & button {
    padding: 1rem;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s;
  }

  & button:hover {
    transform: scale(1.03);
    background-color: #005fc1;
  }
}

.botao_voltar_topo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s;
}

.botao_voltar_topo:hover {
  transform: scale(1.03);
  background-color: #0056b3;
}

/* Para telas menores que 1024px */
@media (max-width: 1024px) {
  .container_contato_tela{
    height: auto;
  }
  .formulario_contato {
    width: 90%;
    max-width: 500px;
    margin:  auto;
  }
  .container_conteudo_primeira_tela h1 {
    font-size: 3em;
  }

  .container_conteudo_primeira_tela p {
    width: 60%;
    font-size: 1em;
  }

  .botao_rotas {
    width: 50%;
  }

  .container_segunda_tela {
    flex-direction: column;
    height: auto;
    padding: 2rem 1rem;
  }

  .container_info_sefunda_tela,
  .imagem_segunda_tela {
    width: 90%;
  }

  .container_info_sefunda_tela p {
    width: 100%;
  }

  .container_terceira_tela {
    height: auto;
    padding: 2rem 1rem;
  }

  .container_info_terceira_tela p {
    width: 90%;
  }

  .container_cards_terceira_tela {
    flex-direction: column;
    align-items: center;
  }

  .container_card_terceira_tela {
    width: 80%;
    height: auto;
  }

  .container_contato_tela {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .info_contato,
  .formulario_contato {
    width: 90%;
  }
}

/* Para telas menores que 768px (celulares) */
@media (max-width: 768px) {
  .container_contato_tela {
    gap: 2rem;
    padding: 1rem;
  }

  .formulario_contato {
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .formulario_contato input,
  .formulario_contato textarea {
    width: calc(100% - 2rem);
  }
  .container_conteudo_primeira_tela h1 {
    font-size: 2em;
    text-align: center;
  }

  .container_conteudo_primeira_tela p {
    width: 90%;
    font-size: 1em;
  }

  .botao_rotas {
    width: 80%;
  }

  .container_segunda_tela {
    gap: 20px;
  }

  .container_info_sefunda_tela h2,
  .container_info_terceira_tela h2 {
    font-size: 1.5em;
    text-align: center;
  }

  .container_info_sefunda_tela p,
  .container_info_terceira_tela p {
    font-size: 1em;
  }

  .container_card_terceira_tela {
    width: 90%;
  }

  .formulario_contato input,
  .formulario_contato textarea {
    width: 100%;
  }
}

/* Para telas menores que 480px (celular pequeno) */
@media (max-width: 480px) {
  .formulario_contato {
    width: 100%;
  }

  .formulario_contato button {
    width: 100%;
  }
  .container_conteudo_primeira_tela {
    height: 100vh;
    gap: 2rem;
  }

  .container_conteudo_primeira_tela h1 {
    font-size: 1.8em;
  }

  .botao_rotas {
    width: 90%;
    height: 40px;
  }

  .container_info_sefunda_tela .botao_sobre_projeto,
  .container_info_terceira_tela .botao_como_funciona,
  .botao_entre_em_contato {
    width: 90%;
    font-size: 1em;
  }
}
