* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_total {
  display: flex;
  flex-direction: row;
}

.container_mapa {
  width: 70%;
  height: 90vh;
  background-color: black;
  display: flex;
  justify-content: center;
}

.mapa {
  width: 90%;
  height: 90%;
  background-color: aliceblue;
  border-radius: 16px;
}

.container_info_total {
  display: flex;
  flex-direction: column;
  height: 100vh;

  & h1 {
    color: rgb(165, 165, 165);
    font-size: 12px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

.container_resumo_rota_info {
  height: 50%;
  width: 420px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  margin: 0px 15px 0px 0px;
}

.info {
  width: 100%;
  min-height: 80%;
  border-radius: 16px;
  background-color: #e1f0ff;
  transition: all ease-in-out 0.2s;
}

.info:hover {
  background-color: #c4d6e7;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.enderecos {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.enderecos h1 {
  margin-right: 7em;
}

.list_box {
  width: 90%;
  height: 100%;
  overflow: auto;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e1f0ff;
  margin-bottom: 15px;
  border-radius: 16px;
  width: 95%;
  height: 35%;
  transition: all ease-in-out 0.2s;
}

.list:hover {
  background-color: #c4d6e7;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
